ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background-color: #385F71;
  box-shadow: 4px 2px 5px #071013;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  font-size: larger;
}

.navBar button {
  background-color: #385F71;
  border: 1px solid #F6EEDF;
  color: #F6EEDF;
  font-size: 1.25rem;
  font-family: inherit;
  max-width: 200px;
  padding: 0.5rem 0.5rem;
  border-radius: 20px;
  transition-duration: 0.4s;
  text-shadow: 
		1px -1px 0 #071013,
		1px 1px 0 #071013;

}

.navBar button:hover {
  background-color: #2E4162;
  cursor: pointer;
  color: #F6EEDF;
  border: 1px solid #071013;
  box-shadow: 10px 2px 4px -4px #2B4162;
  text-shadow: 
		1px -1px 0 #071013,
		1px 1px 0 #071013;
}

.brand {
  cursor: pointer;
  font-size: 3rem;
  text-shadow: 
		1px -1px 0 #071013,
		1px 1px 0 #071013;
}

a {
  color: #F6EEDF;
    text-shadow: 
		1px -1px 0 #071013,
		1px 1px 0 #071013;
}

/* a:hover {
  font-size: 1.30rem;
}

b {
  color: #F6EEDF
} */

/* b.hover {
  font-size: 3.25rem;
} */