ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background-color: #A5C7B7;
  background-image: linear-gradient(to bottom right, #A5C7B7,#5D4257 ) steelblue;
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  font-size: larger;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
  font-size: large;

}

.navBar button:hover {
  background: white;
  color: #A5C7B7;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 3rem;
  text-shadow: 
  	-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

