ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background-color: #385F71;
  box-shadow: 4px 2px 5px #071013;
  color: #F6EEDF;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  font-size: larger;
}

.navBar button {
  background-color: #385F71;
  border: 1px solid #F6EEDF;
  color:#F6EEDF;
  padding: 0.4rem 0.5rem;
  font-size: large;

}

.navBar button:hover {
  background-color: #2E4162;
  color: #F6EEDF;
  border: 1px solid #071013;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 3rem;
  text-shadow: 
		1px -1px 0 #071013,
		1px 1px 0 #071013;
}

