@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid #A5C7B7;
  color: #A5C7B7;
  font-size: 1rem;
  font-family: inherit;
  max-width: 200px;
  padding: 0.5rem 0.5rem;
  border-radius: 20px;
  transition-duration: 0.4s;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: #A5C7B7;
  box-shadow: 10px 2px 4px -4px rgba(0,0,0,0.24);
}

.container {
  /* border-style: solid; */
  /* border-color: orange; */
  border-width: 2px;
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.searchbar_container {
  column-count: 2;
  /* border-style: solid;
  border-color:red; */
  border-width: 5px;
}