@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Color palette
071013 Onyx
7E9181 Reseda green
C7CEDB French gray
A0AAB2 Cadet gray
94849B Mountbatten pink */

/* text-shadow:
	-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; 
    */
html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #D7B377;
  text-rendering: optimizeLegibility;
}

p {
  font-size: 20px;
}

button {
  background-color: #385F71;
  border: 1px solid #F6EEDF;
  color: #F6EEDF;
  font-size: 1.25rem;
  font-family: inherit;
  max-width: 200px;
  padding: 0.5rem 0.5rem;
  border-radius: 20px;
  transition-duration: 0.4s;
  text-shadow: 
		1px -1px 0 #071013,
		1px 1px 0 #071013;
}

button:hover {
  background-color: #2E4162;
  cursor: pointer;
  color: #F6EEDF;
  border: 1px solid #071013;
  box-shadow: 10px 2px 4px -4px #2B4162;
  text-shadow: 
		1px -1px 0 #071013,
		1px 1px 0 #071013;
}

.container {
  border-width: 2px;
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
  font-size: x-large;
  color: #071013;
  
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.searchbar_container {
  column-count: 2;
  /* border-style: solid;
  border-color:red; */
  border-width: 5px;
}

